node_modules/
dist/
.env
*.log
backend/uploads/*
!backend/uploads/profiles/
!backend/uploads/candidates/
backend/uploads/profiles/*
backend/uploads/candidates/*
!backend/uploads/profiles/.gitkeep
!backend/uploads/candidates/.gitkeep
